*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #FFECAF;
    color: #5C2028;
    font-family: 'Josefin Sans';
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
background-color: #ffecaf;
background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23a494bf' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
/* background-color: #ffecaf;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E"); */
}
header{
    text-align: center;
    grid-area: header;
}
main{
    grid-area:main;
}
footer{
    grid-area:footer;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 32px;
}
h3{
    font-size: 24px;
}
p{
    font-size: 16px;
    line-height: 20px;
}
nav{
    margin-left: 35%;
}
hr{
    background-color: #5C2028;
    border:none;
    height: 2px;
}

.hrlength{
    width: 700px;
}
.centrar{
    text-align: center;
}
.subrayado{
    text-decoration: underline;
}
#navList{
    list-style-type: none;
    margin:0;
    padding:0;
    display: flex;
    align-items: center;
}
.liReparto{
    text-align: center;
    margin-left: -20px;
    font-style: italic;
}
.ulStyle{
    list-style-type: none;
}

.imgReparto{
    border-style:solid;
    border-color: #E86A68;
    border-radius: 12px;
    width: 245px;
    height: 313px;
}
#imgBorder{
    height: 600px;
    border-style:solid;
    border-color: #E86A68;
    border-radius: 12px;
}
.aList{
    text-decoration: none;
    color: #5C2028;
}
.navItem{
    margin-right: 1rem;
    border-style:solid;
    border-color: #E86A68;
    border-radius: 12px;
    padding: 4px;
}

.textoImagen{
    text-align: center;
    font-style: italic;
}
.textoP{
    text-align: justify;
    text-justify: inter-word;
    padding: 0px 190px;
}

#mainContact{
    height: 725px;
}